<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-eRestaurantWebsite-3fc804a3-1387-4a01-a026-c5981f58b9d3;AttachDbFilename=|DataDirectory|\aspnet-eRestaurantWebsite-3fc804a3-1387-4a01-a026-c5981f58b9d3.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  <add name="EatIn"
       connectionString="Data Source =.;Initial Catalog=eRestaurant;Integrated Security = SSPI"
       providerName="System.Data.SqlClient" />
</connectionStrings>